<footer>
	<div id="footer-left">
		<a href="mailto:anpenma@iu.edu"><i class="fa-lg fa fa-envelope footer-icon" aria-hidden="true"></i></a>
		<a href="https://x.com/AnirudhPenma"><i class="fa-lg fab fa-twitter footer-icon" aria-hidden="true"></i></a>
		<a href="https://github.com/AnirudhPenmatcha"><i class="fa-lg fab fa-github footer-icon" aria-hidden="true"></i></a>
		<a href="https://www.linkedin.com/in/anirudhpenmatcha/"><i class="fa-lg fab fa-linkedin-in footer-icon" aria-hidden="true"></i></a>
		<br>
		<br>
		&copy; <time datetime="{{ site.time | date: "%B %-d, %Y" }}">{{ site.time | date: '%Y' }}</time> Fred Hohman
	</div>
	<div id="footer-right">
		Fred Hohman is a Research Scientist at Apple creating interactive interfaces and data visualizations for machine learning.
	</div>
</footer>
